{% extends 'product/product_base.html' %}

{% block product_content %}

    <div class="row">
        {% for product in product_list %}
            <div class='col-md-4'>
                <a href="{% url 'product:single' pk=product.pk %}">
                    <div class='product'>
                    <h4 class='product-name'>{{ product.name }}</h4>
                    <img src="{{ product.image.url }}" alt="" width="200" height="200">
                    <h5><i>Price: {{ product.price }}</i></h5>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock product_content %}